// Border stuff.
$border-radius: 10px;
$border-width-xs: 1px;

// Colors.
$body-background-color: #45454d;
$caption-color: #bbb;
$carousel-border-color: #909090;
$dark-shadow-color: #111;
$navlink-color: #7ba4c6;
$navlink-active-color: #d7e6f1;
$navlink-hover-color: #a6c4db;
$news-color: #bbb;
$logo-color: #c5c5c5;
$thumbnail-color: #a0a0a0;
$thumbnail-background-color: #111;
$thumbnail-border-color: #666;

// Durations.
$navbar-transition-duration: 0.4s;
$thumbnail-transition-duration: 0.4s;

// Font families.
$caption-font: 'Oswald', sans-serif;
$logo-font: 'Hurricane', cursive;
$main-font: 'Oswald', sans-serif;
$thumbnail-font: 'Roboto', sans-serif;

// Font sizes.
$image-caption-font-size: 1.6rem;
$navbar-font-size: 2.6rem;
$news-font-size: 4rem;
$thumbnail-font-size: 1.2rem;

// Misc sizes.
$content-top-margin: 8rem;
$navbar-height: 6rem;
$desktop-width: 1100px;
$max-news-width: 800px;
$max-album-width: 1275px;
$navbar-link-padding: 2.4rem;

// Mixins.
@mixin blurry-text-shadow($color) {
    text-shadow: 0 0 5px $color, 0 0 20px $color;
}

@mixin box-shadow($arguments) {
    -webkit-box-shadow: $arguments;
    -moz-box-shadow: $arguments;
    box-shadow: $arguments;
}
