// Border widths.
$border-width-xs: 1px;
$navlink-color: #7ba4c6;

// Colors.
$body-background-color: #45454d;
$carousel-border-color: #909090;

// Font families.
$main-font: 'Oswald', sans-serif;

// Font sizes.
$navbar-font-size: 2.6rem;
