// Border stuff.
$border-radius: 10px;
$border-width-xs: 1px;

// Colors.
$primary-background-color: #45454d;
$primary-border-color: #909090;
$primary-foreground-color: #c5c5c5;
$secondary-foreground-color: #bbb;
$shadow-color: #111;
$navlink-color: #7ba4c6;
$navlink-active-color: #d7e6f1;
$navlink-hover-color: #a6c4db;

// Durations.
$transition-duration: 0.4s;

// Font families.
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$logo-font: 'Hurricane', cursive;

// Font sizes.
$font-size-xs: 1.2rem;
$font-size-sm: 1.6rem;
$font-size-md: 2.6rem;
$font-size-lg: 4rem;

// Misc sizes.
$content-top-margin: 8rem;
$navbar-height: 6rem;
$desktop-width: 1100px;
$max-news-width: 1000px;
$max-album-width: 1275px;

// Media query stuff.
$mobile-breakpoint: 700px;
$mobile-tight-breakpoint: 500px;
$mobile: 'screen and (max-width: #{$mobile-breakpoint})';
$mobile-tight: 'screen and (max-width: #{$mobile-tight-breakpoint})';

// Mixins.
@mixin blurry-text-shadow($color) {
    text-shadow: 0 0 5px $color, 0 0 20px $color;
}

@mixin box-shadow($arguments) {
    -webkit-box-shadow: $arguments;
    -moz-box-shadow: $arguments;
    box-shadow: $arguments;
}
